# 邮件配置
EMAIL_HOST=smtp.163.com
EMAIL_PORT=587
EMAIL_USER=test@163.com
EMAIL_PASS=
EMAIL_FROM=test@163.com

# 提醒邮件接收地址
REMINDER_EMAIL=@qq.com

# 监控配置
HEALTH_PORT=3001
HEALTH_URL=http://localhost:3001/health
STATUS_URL=http://localhost:3001/status
CHECK_INTERVAL=300000
MONITOR_EMAIL=monitor@example.com